[flake8]
per-file-ignores =
    #################################
    # Ignore warnings in stub files #
    #################################
    *.pyi:
    # Multiple statements on one line
    E701,
    # Class name 'geodesic' should use CapWords convention
    N801,
    # Function name X should be lowercase
    N802,
    # Argument name X should be lowercase
    N803,
    # Variable X in class scope should not be mixedCase
    N815,
    # Only operators and comments are allowed after a closing bracket on a new line
    PAR104

# Enable everything by default.
select = A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z

ignore =
    ################################################
    # Ignored - we rely on ruff to format our code #
    ################################################
    # Whitespace after '{'
    E201
    # Whitespace before '}'
    E202
    # Whitespace before ':'
    E203
    # At least two spaces before inline comment
    E261
    # expected 1 blank line, found 0
    E301
    # expected 2 blank lines, found 1
    E302
    # Line too long
    E501
    # multiple statements on one line
    E704
    # Variable X in class scope should not be mixedCase
    N815
    # Only operators and comments are allowed after a closing bracket on a new line
    PAR104
    # Line break occurred before a binary operator
    W503
    # line break after binary operator
    W504

    #############################
    # Ignored - duplicates Ruff #
    #############################
    # Do not perform function calls in argument defaults.
    B008
    # Function definition does not bind loop variable 'X'
    B023
    # Unnecessary generator
    C401
    # Unnecessary list comprehension
    C403
    # Unnecessary set comprehension
    C416
    # Unnecessary list comprehension
    C419
    # Module level import not at top of file
    E402
    # Multiple statements on one line (colon)
    E701
    # Comparison to False should be 'if condition is False:' or 'if not condition:'
    E712
    # Do not assign a lambda expression, use a def
    E731
    # Module imported but not used
    F401
    # Undefined name 'X'
    F821
    # local variable 'X' is assigned to but never used
    F841
    # Redefinition of unused 'X' from line Y
    F811
    # First argument of a method should be named 'self'
    N805

    #############
    # Pydoclint #
    #############
    # Function X docstring contains fewer arguments than in function signature.
    DOC101
    # Function X docstring arguments are different from function arguments.
    DOC103
    # Function X does not have a return section in docstring
    DOC201
    # Function X return type(s) in docstring not consistent with the return annotation.
    DOC203
    # Class X should not have a docstring; please combine it with the docstring of the class
    DOC301
    # Function X has "yield" statements, but the docstring does not have a "Yields" section
    DOC402
    # Method X yield type(s) in docstring not consistent with the return annotation.
    DOC404
    # Class X: Class docstring contains fewer class attributes than actual class attributes.
    DOC601
    # Class X: Class docstring attributes are different from actual class attributes.
    DOC603

# Maximum line length.
max-line-length = 120

# Pydoclint
style = google
arg-type-hints-in-docstring = False
skip-checking-short-docstrings = False
