[flake8]
per-file-ignores =
    #################################
    # Ignore warnings in stub files #
    #################################
    *.pyi:
    # Multiple statements on one line
    E701,
    # Class name 'geodesic' should use CapWords convention
    N801,
    # Function name X should be lowercase
    N802,
    # Argument name X should be lowercase
    N803,
    # Variable X in class scope should not be mixedCase
    N815,
    # Only operators and comments are allowed after a closing bracket on a new line
    PAR104

# Enable everything by default.
select = A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z

ignore =
    ###################################################
    # Ignored - we rely on `black` to format our code #
    ###################################################
    # Whitespace before ':'
    E203
    # At least two spaces before inline comment
    E261
    # expected 1 blank line, found 0
    E301
    # expected 2 blank lines, found 1
    E302
    # Line too long
    E501
    # multiple statements on one line
    E704
    # Line break occurred before a binary operator
    W503

    #############################
    # Ignored - duplicates Ruff #
    #############################
    # Function definition does not bind loop variable 'X'
    B023
    # Undefined name 'X'
    F821
    # redefinition of unused 'X' from line Y
    F811
    # Module imported but not used
    F401
    # first argument of a method should be named 'self'
    N805

    #############
    # Pydoclint #
    #############
    # Function X docstring contains fewer arguments than in function signature.
    DOC101
    # Function X docstring arguments are different from function arguments.
    DOC103
    # Function X does not have a return section in docstring
    DOC201
    # Class X should not have a docstring; please combine it with the docstring of the class
    DOC301
    # Method X has "yield" statements, but the docstring does not have a "Yields" section
    DOC402
    # Function X has a "Raises" section in the docstring, but there are not "raise" statements in the body.
    # TODO: Enable this once fixed.
    DOC502


# Maximum line length.
max-line-length = 120

# Pydoclint
style = google
type-hints-in-docstring = False
