[tool.poetry]
name = "shpyx"
packages = [ { include = "shpyx" } ]
version = "0.0.20"
description = "Simple, clean and modern library for executing shell commands in Python"
authors = [ "Yossi Rozantsev" ]
license = "MIT"
readme = "README.md"
keywords = [
  "shell",
  "bash",
  "terminal",
  "script"
]
homepage = "https://github.com/Apakottur/shpyx"
repository = "https://github.com/Apakottur/shpyx"
documentation = "https://github.com/Apakottur/shpyx"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
include = [ "shpyx/py.typed" ]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
mypy = "0.971"
pre-commit = "2.20.0"
pytest = "7.1.2"
pytest-cov = "3.0.0"
pytest-mock = "3.8.2"

[tool.poetry.urls]

[tool.poetry.extras]

[tool.poetry.scripts]

[build-system]
requires = [ "poetry==1.1.14" ]
build-backend = "poetry.masonry.api"
